@using SitecoreDemo.Web.Models;

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Team>

<div class="box">
    <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
            Our
            <strong>Team</strong>
        </h2>
        <hr>
    </div>
    @foreach (var staff in Model.OurTeam)
    {
        <div class="col-sm-4 text-center">
            @Editable(staff, x => x.Picture , new { style = "max-width:100%" })
            <h3>
                @Editable(staff, x=> x.Name, staff)
                <small>@Editable(staff, x=> x.JobTitle)</small>
            </h3>
        </div>
    }
    <div class="clearfix"></div>
</div>