@inherits System.Web.Mvc.WebViewPage

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="widht=device-width"/>
    <title>Our simple but awesome demo</title>
</head>
<body>
    <div>
        <p>This is an amazing sample demo</p>
    </div>
</body>
</html>